.logo {
    display: grid;
    justify-content: center;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

li {
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
}

a {
    text-decoration: none;
    display: flex;
    color: #000;
    opacity: 0.75;
}

a:hover{
    text-decoration: underline;
}

.container {
    font-family: arial,sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
}

nav.foot {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.left-link {
    float: left;
}

.right-link {
    float: right;
}

.app-launch {
    object-position: -134px -40px;
    object-fit: none;
    height: 26px;
    width: 26px;
    opacity: 0.5;
    vertical-align: middle;
}

button {
    border: 1px solid #4285f4;
    background: #4285f4;
    font-weight: bold;
    padding: 0 12px;
    border-radius: 2px;
    line-height: 28px;
}