.logo {
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
     "header"
     "content"
     "footer";
}

@media (min-width: 300px){
    .container {
        grid-template-areas: 
        "header"
        "content" 
        "footer";
    }
}

.nav {
    grid-area: header;
}

.left-link {
    float: left;
}

.right-link {
    float: right;
}